* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 90%;
    max-width: 375px; /* Mobile first: Set maximum width for mobile */
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 15px;
}

.imagen img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.second-section {
    background-color: hsl(330, 100%, 98%);
    padding: 1rem;
    margin-bottom: 1rem;
}

.moradito {
    color: hsl(332, 51%, 32%);
}

ul, ol {
    padding-left: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table th, table td {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    color: hsl(30, 10%, 34%);
    padding: 0.5rem;
    text-align: left;
}