*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

body {
    background-color: hsl(30, 54%, 90%);
    width:100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.main{
    width: 40%;
    background-color: hsl(0, 0%, 100%);
    padding: 3rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.lejos{
    padding-bottom: 1rem;
}

.imagen img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 5%;
    margin-left: 5%;
}

h1 {
    font-size: 2rem;
    padding: 5px;
}

h2{
    padding: 1rem;
    color: hsl(14, 45%, 36%)
}

p{
    font-size: 1rem;
    padding: 5px;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.second-section {
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.thirth-section {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    place-items: center;
}

.todo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.borde {
    border: none;
    border-top: 1px hsl(30, 18%, 87%);
    width: 100%;
    margin: 20 px 0;
}

.moradito{
    color: hsl(332, 51%, 32%);
}

.center{
    place-items: center;
}

li{
    padding: 5px;
    padding-right: 3rem;
    
}

ul{
    place-items: center;
}

.separacion{
    padding-left: 15%;
}

table
{
    width:  100%;
    border-collapse: collapse
}
table th, td
{
    border-bottom: 1px solid hsl(0, 0%, 80%);
    color: hsl(30, 10%, 34%);
    padding: 12px;
    text-align: left;
}
table .c2
{
    color: hsl(14, 45%, 36%);    
}
table tr#last th, table tr#last td
{
    border-bottom: none;
}
table tr#last th, table tr#last td
{
    border-bottom: none;
}